@model ServiceQuality.Models.Service

@{
    ViewData["Title"] = "Service Performance";
}

<h2>Service Performance</h2>

<div>
    <h4>Tests</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Requests)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Requests)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Success)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Success)
        </dd>
        <dt>
            Service
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
    </dl>
</div>


<!-- Insert angular here -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/angular-chart.css" type="text/css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
<script src="/js/angular-chart.js"></script>
<script src="/js/raphael-2.1.4.min.js"></script>
<script src="/js/justgage.js"></script>
<script src="/js/ng-justgage.js"></script>
<script src="/js/index.js"></script>

<script>
// Service MODEL ID as part of the global window object
    window.MODEL_ID = @String.Format("{0}", Model.Id);
</script>

<div ng-controller="AppCtrl">
	<div class="container">
		<div class="row">
			@if (Model.Results.Count == 0) {
				<div ng-show="!showRunButton" >
					<hr />
					<button ng-click="runTest()" class="btn btn-primary">Begin Service Test</button>
				</div>
			}
			<div class="col-md-8">
				<hr />
				<h3>Test Graphs and Statistics</h3>

                @if (Model.Results.Count == 0)
                {
				    <button class="btn btn-primary" ng-click="start()">Start</button>
				    <button class="btn btn-danger" ng-click="stop()">Stop</button>
                }

				@if (Model.Type == "Distribution")
                {
                    <span>
                        Distribution Base:
                        <input type='text' size='5' ng-model='distributionBase' name='distributionBase' />&nbsp;&nbsp;
                    </span>
                }

				<button class="btn btn-primary" ng-click="call('full')">Statistics</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div just-gage class="gauge" id="test" min=0 max=gaugeLimit value="valueGauge" decimals=1 title="Response Time" donut=false relative-gauge-size=true symbol="ms"></div>
			</div>
			<div class="col-md-8">
				<canvas id="line" class="chart chart-line" chart-data="performanceData" chart-labels="performanceLabels" chart-legend="true" chart-series="performanceSeries" chart-click="onClick"></canvas> 
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<p><h4>Avg. Performance: <strong>{{avgPerformance}} ms</strong></h4></p>
				<p><h4>Capacity: <strong>{{capacity}} requests</strong></h4></p>
				<p><h4>Reliability: <strong>{{reliability}} ms</strong></h4></p>
				
                @if (Model.Type == "Distribution")
                {
                    <p>
                        <div><h4>Distribution:</h4></div><br />
                        <div class="col-md-8">
                            <canvas id="line" class="chart chart-line" chart-data="distributionData" chart-labels="distributionLabels" chart-legend="true" chart-series="distributionSeries" chart-click="onClick"></canvas>
                        </div>
                    </p>
                }
                
			</div>
		</div>

        <div class="row">
            <h3>Tests Comparison</h3>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <p>Compare this test to:</p>
                    <select class="form-control" id="mirror"
                            ng-change="compare()"
                            ng-model="selectedService"
                            ng-options="s.Name for s in allServices">
                        <option>--</option>
                    </select>
                    
                    <p>Distribution Base:</p>
                    <input type="text" size="5" ng-model="compareBase" class="form-control" name="compareBase" />
                </div>
            </div>
            <div class="row">
                <h3>Comparison Result</h3>

                <div class="col-md-6">
                    <h4>Test @Model.Id</h4>
                    <p>@Model.Url</p>
                    <h5>Avg. Performance: <strong>{{avgPerformance1}} ms</strong></h5>
                    <h5>Capacity: <strong>{{capacity1}} requests</strong></h5>
                    <h5>Reliability: <strong>{{reliability1}} ms</strong></h5>
                    <p>
                        <div><h4>Distribution:</h4></div><br />
                        <div class="col-md-8">
                            <canvas id="line" class="chart chart-line" chart-data="distributionData1" chart-labels="distributionLabels" chart-legend="true" chart-series="distributionSeries" chart-click="onClick"></canvas>
                        </div>
                    </p>
                </div>

                <div class="col-md-6">
                    <h4>{{selectedService.Name}}</h4>
                    <p>{{selectedService.Url}}</p>
                    <h5>Avg. Performance: <strong>{{avgPerformance2}} ms</strong></h5>
                    <h5>Capacity: <strong>{{capacity2}} requests</strong></h5>
                    <h5>Reliability: <strong>{{reliability2}} ms</strong></h5>
                    <p>
                        <div><h4>Distribution:</h4></div><br />
                        <div class="col-md-8">
                            <canvas id="line" class="chart chart-line" chart-data="distributionData2" chart-labels="distributionLabels" chart-legend="true" chart-series="distributionSeries" chart-click="onClick"></canvas>
                        </div>
                    </p>
                </div>
            </div>
        </div>

	</div>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> | 
    <a asp-action="Index">Back to List</a>&nbsp;&nbsp;&nbsp;
    <a href="@String.Format("/Service/Json/{0}", Model.Id)" class="btn btn-primary">View JSON</a>
</p>
