@model IEnumerable<ServiceQuality.Models.Service>

@{
    ViewData["Title"] = "History";
}

<h3>Test History</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Success)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th></th>
        </tr>
    </thead>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                <p class="keepShort">
                    <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
                </p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Requests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Success)
            </td>
            <td>
                <p class="keepShort">
                    @Html.DisplayFor(modelItem => item.Url)
                </p>
            </td>
            <td>
                <a class="btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">View</a>
                <a class="btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>
