@model IEnumerable<ServiceQuality.Models.Service>

@{
    ViewData["Title"] = "History";
}

<h3>Test History</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:15%">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width:5%;text-align:center">
                @Html.DisplayNameFor(model => model.Requests)
            </th>
            <th style="width:5%;text-align:center">
                @Html.DisplayNameFor(model => model.Success)
            </th>
            <th style="width:50%">
                Service Link
            </th>
            <th style="width:25%;text-align:center">Action</th>
        </tr>
    </thead>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Requests)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Success)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td align="center">
                <a class="btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">View</a>
                <a class="btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>
